sysrescue-testbench.srm
systemrescue-12.03-testbench-amd64.iso.sha256
systemrescue-persist.dat
systemrescue-12.03-amd64.iso

*.iso
*.srm
*.apk
*.tar.gz
*.tcz
*.tcz.*

*.fd
*.qcow2
*.img
*.iso.sha256

.boot_repository

autoinstall-usb/work

.vagrant/